In [6]:
from expenses import*
import pandas as pd

# from expenses import read_data
# from expenses import create_id
# from expenses import add_item
# from expenses import add_price
# from expenses import add_category
# from expenses import add_date

In [2]:
import sqlite3

In [3]:
db = sqlite3.connect(':memory:')

In [4]:
cursor = db.cursor()

In [5]:
data = read_data()

In [44]:
cursor.execute('''CREATE TABLE expenses(id INTEGER PRIMARY KEY,
                Item TEXT, Price TEXT, Category TEXT)
''')

db.commit()

OperationalError: table expenses already exists

In [42]:
def create_entry(data):
    
    usr_id = create_id(data)
    item = add_item()
    price = add_price()
    category = add_category()
    entry = """INSERT INTO expenses
        (id, Item, Price, Category)
        VALUES (?, ?, ?, ?);"""
    data_in = (usr_id, item, price, category)
    print(data_in)
    cursor.execute(entry, data_in)
    db.commit()

In [43]:
create_entry(data)

Please enter item name:  thing
Please enter price:  5
Please enter category:  thingy

('thing', 5.0, 'thingy')

OperationalError: 3 values for 4 columns

In [9]:
lstexpenses = cursor.execute('''select * from expenses;''').fetchall()

In [10]:
type(lstexpenses)

list

In [11]:
print(lstexpenses)

[(8, 'fish', '5.0', 'food')]

In [12]:
dfexpenses = pd.read_sql_query("SELECT * FROM expenses", db)
dfexpenses.head()

   id  Item Price Category
0   8  fish   5.0     food

In [7]:
df = pd.read_csv('datafile.csv')

In [8]:
df

   Id      Item  Price  Category        Date
0   1      fish    6.0      food  2020-11-08
1   2     horse    6.0    friend  2020-11-08
2   3       hat    8.0  clothing  2020-11-08
3   4  goldfish    7.0       pet  2020-11-08
4   5    coffee    8.0     drink  2020-11-08
5   6       goo    5.0      food  2020-11-16
6   7       hat    5.0      food  2020-11-16

In [35]:
pr = df.groupby('Date')

In [36]:
pr.describe()

              Id                                           Price            \
           count mean       std  min   25%  50%   75%  max count mean  std
Date
2020-11-08   5.0  3.0  1.581139  1.0  2.00  3.0  4.00  5.0   5.0  7.0  1.0
2020-11-16   2.0  6.5  0.707107  6.0  6.25  6.5  6.75  7.0   2.0  5.0  0.0


            min  25%  50%  75%  max
Date
2020-11-08  6.0  6.0  7.0  8.0  8.0
2020-11-16  5.0  5.0  5.0  5.0  5.0

In [37]:
df.dtypes

Id            int64
Item         object
Price       float64
Category     object
Date         object
dtype: object

In [56]:
class Select():
    
    def __init__(self, data):
        
        self.data = data
        
    def info(self, data):
        
        return self.data.describe()
    
    def group(self, column):
        
        return self.data.groupby(column)

In [57]:
data1 = Select(df)

In [69]:
data1.info(df).transpose()

       count      mean       std  min  25%  50%  75%  max
Id       7.0  4.000000  2.160247  1.0  2.5  4.0  5.5  7.0
Price    7.0  6.428571  1.272418  5.0  5.5  6.0  7.5  8.0

In [70]:
by_price = data1.group('Price')

In [76]:
by_price.sum().transpose()

Price  5.0  6.0  7.0  8.0
Id      13    3    4    8